*.log
.DS_Store
.env
.env.backup
.env.production
/deploy/htdocs_staging
/deploy/htdocs_staging.zip
/deploy/zips
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
